
#gallery{
	padding:40px 0;
	}

/* middle content div */

#content .homecontent{
	display:block;
	width:630px;
	margin:20px 0 0 0;
	padding:0;
	}

#content .homecontent ul{
	margin:0;
	padding:0;
	list-style:none;
	}

#content .homecontent li{
	display:block;
	float:left;
	width:300px;
	margin:0 30px 0 0;
	padding:0;
	}

#content .homecontent li.last{margin-right:0;}

#content .homecontent li p.imgholder{
	display:block;
	width:286px;
	height:100px;
	margin:0 0 15px 0;
	padding:6px;
	color:#666666;
	background-color:#F7F7F7;
	border:1px solid #CCCCCC;
	}

#content .homecontent li h2{
	margin:0;
	padding:0 0 8px 0;
	font-size:13px;
	font-weight:bold;
	color:#666666;
	background-color:#FFFFFF;
	line-height:normal;
	border-bottom:1px dashed #CCCCCC;
	}

#content .homecontent p.readmore{
	display:block;
	width:300px;
	font-weight:bold;
	text-align:right;
	line-height:normal;
	}